$btnColor: #3e68ff;
$btnColor-disabled: #5c5c5c;

.cb{
    &-main {
        display: grid;
        width: 100%;
        grid-template-areas:
            'controls'
            'menu';
        gap: .5rem;
        padding: .5rem;
        background-color: gray;
        width: 800px;
        max-width: 100vw;
    }

    &-controls {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 0 .5rem ;
        height: 2rem;
    }

    &-button {
        border: none;
        background-color: transparent;
        font-family: inherit;
        padding: 0;
        cursor: pointer;
        
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-self: start;

        background-color: $btnColor;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
        
        padding: 0.25em 0.75em;
        min-width: 8rem;
        min-height: 2rem;
        
        // Text
        text-align: center;
        line-height: 1.1;
        font-size: 1.2rem;

        transition: 220ms all ease-in-out;
        
        @media screen and (-ms-high-contrast: active) {
            border: 2px solid currentcolor;
        }

        &:hover,
        &:active {
            background-color: scale-color($btnColor, $lightness: -20%);
        }

        &:focus {
            outline-style: solid;
            outline-color: transparent;
            box-shadow: 0 0 0 4px scale-color($btnColor, $lightness: -40%);
        }


        &:disabled,
        &[disabled]{
            cursor:not-allowed;
            background-color: $btnColor-disabled;
            box-shadow: none;
        }

        &--small {
            font-size: 1.15rem;
        }
        
        &--block {
            width: 100%;
        }
    }

    &-target {
        height: 10rem;
    }
}
